& {
  height: 100%;
  width: 100%;
  font-family: inherit;
  z-index: 1;

  &::after {
    text-align: center;
  }

  &.leaflet-touch {
    & .leaflet-bar,
    & .leaflet-control,
    & .leaflet-control-layers {
      border: unset;
      box-shadow: 0 0.8px 20px 0.8px #00000021;
    }
  }
}
